* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
.nav {
  background-color: rgb(12, 235, 112);
  display: flex;
}
.nav a {
  text-decoration: none;
  color: rgb(1, 8, 1);
  padding: 15px 25px;
  font-size: 25px;
}
.nav a:hover {
  background-color: brown;
}

h1,
p {
  color: red;
  margin: 20px;
}
